html {
  font-family: sans-serif;
  background-color: #ddd;
}

body {
  background-color: #fff;
  margin: 0 auto;
  padding: 1em;
  max-width: 33em;
}

.hidden {
  display: none;
}

.error {
  color: red;
}

.prompt {
  background-color: #eee;
  padding: 1em;
  text-align: center;
}

.prompt * { margin: 1em; }

#push-prompt { background-color: #feb; }
#notification-prompt { background-color: #bef; }

pre {
  white-space: pre-wrap;
}
